{% extends "layout.html" %}
{% block content %}
<h2>Ассортимент игр</h2>
    {% for game in games %}
        <article class="media content-section">
          <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('game', selected_game=game.game_name) }}">{{ game.game_name }}</a>
                    <small class="text-muted"><strong>жанр:</strong>      {{ game.genre }}     |</small>
                    <small class="text-muted"><strong>дата выхода:</strong>      {{ game.release_date }}     |</small>
                    <small class="text-muted"><strong>цена:</strong>      {{ game.price }}    |</small>
                    {% for publisher in publishers %}
                        {% if publisher.id == game.publisher_id %}
                            <small class="text-muted"><strong>издатель:</strong>   {{ publisher.publisher_name }}</small>
                        {% endif %}
                    {% endfor %}
                </div>
          </div>
        </article>
        <article class="media content-section">
        <img src="{{ game.poster }}">
        <small class="text-muted"><strong>Описание:</strong>      {{ game.description }}    </small>
        </article>
    {% endfor %}
{% endblock content %}